# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Runtime data
data/
logs/

# Reports (istersen tutabiliriz, şimdilik hariç bırakıyorum)
reports/*.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db